/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.title {
  font-size: 300%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.movie-list {
  background-color: tan;
  color: darkblue;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.add-movie-button {
  background-color:tan;
  color: darkblue;
}

.add-movie-div{
  background-color:tan;
  color: darkblue;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}
